@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "GothamPro", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ReggaeOne";
  src: url("../fonts/ReggaeOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* From uiverse.io by @AqFox */

.preloader__wrapper {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #000000;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__inner {
  width: 340px;
  height: 340px;
  -webkit-animation: spinner-y0fdc1 3s infinite ease;
          animation: spinner-y0fdc1 3s infinite ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.preloader__inner > div {
  background-color: rgba(208, 255, 0, 0.719);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid rgba(208, 255, 0, 0.719);
}

.preloader__inner .preloader__item:nth-of-type(1) {
  -webkit-transform: translateZ(-22px) rotateY(180deg);
          transform: translateZ(-22px) rotateY(180deg);
}

.preloader__inner .preloader__item:nth-of-type(2) {
  -webkit-transform: rotateY(-270deg) translateX(50%);
          transform: rotateY(-270deg) translateX(50%);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

.preloader__inner .preloader__item:nth-of-type(3) {
  -webkit-transform: rotateY(270deg) translateX(-50%);
          transform: rotateY(270deg) translateX(-50%);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.preloader__inner .preloader__item:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.preloader__inner .preloader__item:nth-of-type(5) {
  -webkit-transform: rotateX(-90deg) translateY(50%);
          transform: rotateX(-90deg) translateY(50%);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}

.preloader__inner .preloader__item:nth-of-type(6) {
  -webkit-transform: translateZ(22px);
          transform: translateZ(22px);
}

@-webkit-keyframes spinner-y0fdc1 {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes spinner-y0fdc1 {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.loaded_hiding .preloader__wrapper {
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader__wrapper {
  display: none;
}

.header-hero__home svg {
  width: 50px;
  height: 50px;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg);
          transform: rotateX(-30deg);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  z-index: 10;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #0b0a0a), to(#ffe70d));
  background: -o-linear-gradient(#0b0a0a 10%, #ffe70d);
  background: linear-gradient(#0b0a0a 10%, #ffe70d);
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
          transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.cube__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #191616;
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.cube__top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background: #ffe70d;
  -webkit-transform: translateZ(-250px);
          transform: translateZ(-250px);
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-box-shadow: 0 0 220px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
          box-shadow: 0 0 220px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
}

.section__hero {
  width: 100%;
  height: 100vh;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}

.hero__inner a span {
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: calc(18px + 0.5970149254vw);
}

.hero__inner a span:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__title {
  font-family: "ReggaeOne", sans-serif;
  line-height: 1;
  font-size: calc(28px + 1.7910447761vw);
  z-index: 10;
}

.header-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-hero__home-button {
  z-index: 10;
  margin-left: 82px;
  background-color: rgba(231, 234, 17, 0.4);
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 10px rgba(231, 234, 17, 0.4), 0 0 30px rgba(231, 234, 17, 0.6), 0 0 50px rgba(231, 234, 17, 0.8);
          box-shadow: 0 0 10px rgba(231, 234, 17, 0.4), 0 0 30px rgba(231, 234, 17, 0.6), 0 0 50px rgba(231, 234, 17, 0.8);
}

.middle-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-hero__portfolio {
  -webkit-transform: rotate(-90deg) translateY(-40px);
      -ms-transform: rotate(-90deg) translateY(-40px);
          transform: rotate(-90deg) translateY(-40px);
}

.middle-hero__logo-button {
  font-size: 0;
}

.middle-hero__library {
  -webkit-transform: rotate(-270deg) translateY(-40px);
      -ms-transform: rotate(-270deg) translateY(-40px);
          transform: rotate(-270deg) translateY(-40px);
}

.footer-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 50px;
  padding-bottom: 50px;
}

.socials__link {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.socials__link svg {
  width: 30px;
  height: 30px;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.socials__link svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.socials__line {
  margin-bottom: -50px;
  margin-left: 15px;
  display: block;
  height: 100px;
  width: 2px;
  background-color: #000000;
}

.logo-button {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.right-cube .logo-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 100px;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.right-cube .logo-button .cube {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg);
          transform: rotateX(-30deg);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}

.right-cube .logo-button .cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.right-cube .logo-button .cube div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #0b0a0a), to(#ffe70d));
  background: -o-linear-gradient(#0b0a0a 10%, #ffe70d);
  background: linear-gradient(#0b0a0a 10%, #ffe70d);
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
          transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
}

.right-cube .logo-button .cube__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #191616;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

.right-cube .logo-button .cube__top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #ffe70d;
  -webkit-transform: translateZ(-250px);
          transform: translateZ(-250px);
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
          box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
}

.hero__info {
  height: 0;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #000000), color-stop(50%, #ffffff)) center bottom/100% 2px no-repeat, -webkit-gradient(linear, left top, right top, color-stop(50%, #000000), color-stop(50%, #ffffff)) center top;
  background: -o-linear-gradient(left, #000000 50%, #ffffff 50%) center bottom/100% 2px no-repeat, -o-linear-gradient(left, #000000 50%, #ffffff 50%) center top;
  background: linear-gradient(to right, #000000 50%, #ffffff 50%) center bottom/100% 2px no-repeat, linear-gradient(to right, #000000 50%, #ffffff 50%) center top;
  background-repeat: no-repeat;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  -webkit-transition: height 0.5s ease 1s, width 1s ease 0.5s, visibility 0.5s ease 1s, opacity 0.1s ease 0.1s;
  -o-transition: height 0.5s ease 1s, width 1s ease 0.5s, visibility 0.5s ease 1s, opacity 0.1s ease 0.1s;
  transition: height 0.5s ease 1s, width 1s ease 0.5s, visibility 0.5s ease 1s, opacity 0.1s ease 0.1s;
  visibility: hidden;
  opacity: 0;
}

.info-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-hero__texts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  padding-left: 20px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
  opacity: 0;
}

.info-hero__texts p {
  font-size: calc(22px + 1.3432835821vw);
}

.info-hero__texts h2 {
  font-size: calc(18px + 0.8955223881vw);
}

.info-hero__texts h4 {
  font-size: calc(14px + 0.5970149254vw);
}

.info-hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  flex: 0 1 50%;
  -webkit-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
  opacity: 0;
}

.info-hero__img img {
  margin: auto;
  display: inline-block;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 50%;
  width: 50%;
  background-color: black;
  height: 0;
  -webkit-transition: height 0.5s ease 0s, width 1s ease 0.5s;
  -o-transition: height 0.5s ease 0s, width 1s ease 0.5s;
  transition: height 0.5s ease 0s, width 1s ease 0.5s;
  z-index: -1;
}

.section__hero.right-cube .hero__bg {
  height: 100%;
}

.section__hero.right-cube .hero__info {
  visibility: visible;
  opacity: 1;
  height: 55vh;
}

.section__hero.right-cube .hero__info .info-hero__texts,
.section__hero.right-cube .hero__info .info-hero__img {
  opacity: 1;
}

.section__hero.right-cube .hero__inner .hero__title span,
.section__hero.right-cube .hero__inner .middle-hero__portfolio-link span,
.section__hero.right-cube .hero__inner .footer-hero__about-link span {
  z-index: 2;
  color: #ffffff;
}

.section__hero.right-cube .hero__inner .socials__link svg {
  fill: #ffffff;
}

.section__hero.right-cube .hero__inner .socials__link svg path {
  fill: #ffffff;
}

.section__hero.right-cube .hero__inner .socials__line {
  background-color: #ffffff;
}

.type {
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
}

.type::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/

.typed-cursor {
  opacity: 0;
  display: none;
}

/*Custom cursor animation*/

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contact-me__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  color: #ffffff;
  display: none;
}

.contact-me__wrapper .contact-me {
  background-color: #000000;
  padding: 25px;
  border-radius: 5px;
  width: 60%;
  height: 60%;
}

.contact-me__wrapper .contact-me__title {
  text-align: center;
}

.contact-me__wrapper .contact-me__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-me__wrapper .contact-me__close svg {
  width: 10px;
  height: 10px;
  fill: #ffffff;
}

.contact-me__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact-me__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.form__row-group {
  position: relative;
  --width-of-input: 200px;
  --border-height: 2px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #ffe70d;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form__label {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 18px;
}

.form__input {
  font-size: 16px;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form__input:hover {
  background-color: rgba(231, 225, 225, 0.836);
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  background-color: #fff;
}

.form__input::-moz-placeholder {
  background-color: #fff;
}

.form__input:-ms-input-placeholder {
  background-color: #fff;
}

.form__input::-ms-input-placeholder {
  background-color: #fff;
}

.form__input::placeholder {
  background-color: #fff;
}

.form__input.error {
  -webkit-box-shadow: 0 0 25px red;
          box-shadow: 0 0 25px red;
}

input:focus ~ .input__border {
  width: 100%;
}

.input__border {
  position: absolute;
  background: #ffe70d;
  width: 0%;
  height: 5px;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__input--textarea {
  min-height: 100px;
  resize: none;
}

.btn__group {
  text-align: center;
}

.btn__send {
  cursor: pointer;
  background: transparent;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 30px;
  outline: none;
  border: 2px solid #ffe70d;
  margin: 40px;
  width: 150px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  -webkit-transition: 0.45s;
  -o-transition: 0.45s;
  transition: 0.45s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.btn__send:hover {
  -webkit-transition-delay: 1.5s;
       -o-transition-delay: 1.5s;
          transition-delay: 1.5s;
  color: #000;
  -webkit-box-shadow: 0 0 10px #ffe70d, 0 0 20px #ffe70d, 0 0 40px #ffe70d, 0 0 80px #ffe70d, 0 0 100px #ffe70d;
          box-shadow: 0 0 10px #ffe70d, 0 0 20px #ffe70d, 0 0 40px #ffe70d, 0 0 80px #ffe70d, 0 0 100px #ffe70d;
}

.btn__send span {
  position: relative;
  z-index: 100;
}

.btn__send::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ffe70d;
  -webkit-box-shadow: 5px -8px 0 #ffe70d, 5px 8px 0 #ffe70d;
          box-shadow: 5px -8px 0 #ffe70d, 5px 8px 0 #ffe70d;
  -webkit-transition: width 0.5s, left 0.5s, height 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, left 0.5s, height 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transition-delay: 1s, 0.5s, 0s, 0s;
       -o-transition-delay: 1s, 0.5s, 0s, 0s;
          transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn__send:hover::before {
  width: 60%;
  height: 100%;
  /* right: -2px; */
  left: -2px;
  -webkit-box-shadow: 5px 0 0 #ffe70d, 5px 0 0 #ffe70d;
          box-shadow: 5px 0 0 #ffe70d, 5px 0 0 #ffe70d;
  -webkit-transition-delay: 0s, 0.5s, 1s, 1s;
       -o-transition-delay: 0s, 0.5s, 1s, 1s;
          transition-delay: 0s, 0.5s, 1s, 1s;
}

.btn__send::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ffe70d;
  -webkit-box-shadow: -5px -8px 0 #ffe70d, -5px 8px 0 #ffe70d;
          box-shadow: -5px -8px 0 #ffe70d, -5px 8px 0 #ffe70d;
  -webkit-transition: width 0.5s, right 0.5s, height 0.5s, -webkit-box-shadow 0.5s;
  transition: width 0.5s, right 0.5s, height 0.5s, -webkit-box-shadow 0.5s;
  -o-transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transition-delay: 1s, 0.5s, 0s, 0s;
       -o-transition-delay: 1s, 0.5s, 0s, 0s;
          transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn__send:hover::after {
  width: 60%;
  height: 102%;
  right: -2px;
  -webkit-box-shadow: -5px 0 0 #ffe70d, -5px 0 0 #ffe70d;
          box-shadow: -5px 0 0 #ffe70d, -5px 0 0 #ffe70d;
  -webkit-transition-delay: 0s, 0.5s, 1s, 1s;
       -o-transition-delay: 0s, 0.5s, 1s, 1s;
          transition-delay: 0s, 0.5s, 1s, 1s;
}

.section__library {
  width: 100%;
  height: 100vh;
  background-color: #BBD691;
}

.section__library .header-hero {
  padding: 20px 0;
  z-index: 5;
}

.section__library .hero__title {
  color: #000000;
}

.section__library .header-hero__contact-link {
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: calc(18px + 0.5970149254vw);
}

.section__library .header-hero__contact-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.section__library .header-hero__home-button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section__library .header-hero__home-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.library__title {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 1;
  color: rgba(13, 4, 0, 0.775);
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: calc(32px + 3.7313432836vw);
}

.library__game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

.introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

.perfect {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.about__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.section__about {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 4;
}

.section__about .header-hero {
  padding: 20px 0;
  z-index: 5;
}

.section__about .hero__title {
  color: #ffffff;
}

.section__about .header-hero__contact-link {
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: calc(18px + 0.5970149254vw);
}

.section__about .header-hero__contact-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.section__about .header-hero__home-button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section__about .header-hero__home-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.about__title {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 1;
  color: rgba(252, 246, 244, 0.4);
  font-weight: 700;
  line-height: 1;
  font-size: calc(34px + 7.4626865672vw);
}

.about__info-me {
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 3;
}

.info-me__body {
  border: 2px solid #fcf6f4;
  color: #fcf6f4;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  max-width: 50%;
  min-height: 60%;
  padding: 50px;
}

.info-me__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info-me__text {
  display: block;
  font-family: "GothamPro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: calc(16px + 0.5970149254vw);
}

.info-me__text:not(:last-child) {
  margin-bottom: 20px;
}

.section__skills {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  background-color: #ffffff;
}

.canvas-skills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section__skills .header-hero {
  padding: 20px 0;
  z-index: 10;
}

.section__skills .header-hero__logo {
  z-index: 10;
}

.section__skills .hero__title {
  color: #000000;
}

.section__skills .header-hero__contact {
  z-index: 10;
}

.section__skills .header-hero__contact-link {
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 10;
  font-size: calc(18px + 0.5970149254vw);
}

.section__skills .header-hero__contact-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.section__skills .header-hero__home-button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section__skills .header-hero__home-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills__title {
  position: absolute;
  top: 10%;
  left: 55%;
  z-index: 1;
  color: rgba(13, 4, 0, 0.4);
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: calc(34px + 7.4626865672vw);
}

.info-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
}

.designer {
  border: 2px solid #000000;
  color: #000000;
  font-family: "GothamPro", sans-serif;
  font-size: 22px;
  background-color: #ffffff;
  padding: 30px;
  max-width: 30vw;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.designer:hover {
  background-color: #000000;
  color: #ffffff;
}

.designer:hover svg path {
  fill: #ffffff;
}

.designer__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.designer__title svg {
  width: 50px;
  height: 50px;
}

.designer__title span {
  margin-left: 10px;
}

.designer__text {
  margin-bottom: 20px;
}

.designer__item-work {
  margin-bottom: 5px;
}

.designer__item-work:last-child {
  margin-bottom: 20px;
}

.designer__item-work---title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.designer__item-tool:not(:last-child) {
  margin-bottom: 5px;
}

.designer__item-tool--title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.dev {
  border: 2px solid #000000;
  color: #000000;
  font-family: "GothamPro", sans-serif;
  font-size: 22px;
  background-color: #ffffff;
  padding: 30px;
  max-width: 30vw;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dev:hover {
  background-color: #000000;
  color: #ffffff;
}

.dev:hover svg path {
  fill: #ffffff;
}

.dev__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.dev__title svg {
  width: 50px;
  height: 50px;
}

.dev__title span {
  margin-left: 10px;
}

.dev__text {
  -ms-flex-item-align: start;
      align-self: start;
}

.dev__item-work {
  margin-bottom: 20px;
}

.dev__item-work---title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.dev__item-tool--title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio__carousel {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 40vh;
  margin-top: 100px;
}

.portfolio__carousel.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.portfolio__carousel--wrapper {
  counter-reset: count;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel__item {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100%;
  padding: 0 1.5vw;
  overflow: hidden;
}

.carousel__item:nth-child(n+10):before {
  content: counter(count);
}

.carousel__item figure {
  position: absolute;
  z-index: 1;
  display: block;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.carousel__item figure img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.carousel__item figure:before {
  position: absolute;
  z-index: 2;
  bottom: 1vw;
  left: 1vw;
  display: inline-block;
  content: "0" counter(count);
  color: #ffffff;
  font-size: 3vw;
}

.version {
  display: inline-block;
  position: fixed;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  background: #333;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: -30px;
  right: -50px;
  bottom: auto;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-radius: 0;
  padding: 8px 30px;
  font-size: 11px;
}

.version:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0%;
  background: transparent;
}

.section__portfolio {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

.section__portfolio .header-hero {
  padding: 20px 0;
  z-index: 5;
}

.section__portfolio .hero__title {
  color: #ffffff;
}

.section__portfolio .header-hero__contact-link {
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: calc(18px + 0.5970149254vw);
}

.section__portfolio .header-hero__contact-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.section__portfolio .header-hero__home-button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section__portfolio .header-hero__home-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__title {
  position: absolute;
  top: 10%;
  left: 45%;
  z-index: 1;
  color: rgba(252, 246, 244, 0.4);
  font-weight: 700;
  line-height: 1;
  font-size: calc(34px + 7.4626865672vw);
}

.cube-portfolio__button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 100px;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.cube-portfolio__button .cube-portfolio__wrapper {
  cursor: auto;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg);
          transform: rotateX(-30deg);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
            transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
            transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-portfolio__button .cube-portfolio__wrapper div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cube-portfolio__button .cube-portfolio__wrapper div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #0b0a0a), to(#ffe70d));
  background: -o-linear-gradient(#0b0a0a 10%, #ffe70d);
  background: linear-gradient(#0b0a0a 10%, #ffe70d);
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
          transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
}

.cube-portfolio__button .cube-portfolio__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #191616;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

.cube-portfolio__button .cube-portfolio__top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #ffe70d;
  -webkit-transform: translateZ(-250px);
          transform: translateZ(-250px);
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
          box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
}

.carousel__item:hover .carousel__item-info {
  height: 100%;
  opacity: 1;
}

.carousel__item-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  background-color: #000000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: height 0.3s ease 0s, opacity 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: height 0.3s ease 0s, opacity 0.3s ease 0s;
}

.carousel__item-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.carousel__item-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.carousel__item-link {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.carousel__item-link:hover {
  background-color: #ffe70d;
  -webkit-box-shadow: 0 0 5px #ffe70d;
          box-shadow: 0 0 5px #ffe70d;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1401px) {
  .designer {
    max-width: 45vw;
  }

  .dev {
    max-width: 45vw;
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .right-cube .logo-button {
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .hero__info {
    height: 65vh;
    width: 65vw;
  }

  .info-hero__texts {
    padding-left: 10px;
  }

  .info-me__body {
    max-width: 70%;
    padding: 30px;
  }

  .skills__title {
    left: 0;
  }

  .info-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    padding-bottom: 20px;
  }

  .designer {
    max-width: 90vw;
    min-height: 40vh;
    font-size: 18px;
    padding: 10px;
  }

  .designer__title {
    font-size: 24px;
    margin-bottom: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .designer__title svg {
    width: 30px;
    height: 30px;
  }

  .designer__text {
    margin-bottom: 10px;
  }

  .designer__item-work:last-child {
    margin-bottom: 10px;
  }

  .designer__item-work---title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .designer__item-tool--title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .dev {
    max-width: 90vw;
    min-height: 40vh;
    font-size: 18px;
    padding: 10px;
  }

  .dev__title {
    font-size: 24px;
    margin-bottom: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .dev__title svg {
    width: 30px;
    height: 30px;
  }

  .dev__item-work---title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .dev__item-tool--title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }

  .cube-portfolio__button {
    margin-right: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .preloader__inner {
    width: 240px;
    height: 240px;
  }

  .header-hero__home svg {
    width: 30px;
    height: 30px;
  }

  .cube {
    width: 100px;
    height: 100px;
  }

  .cube div span {
    -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
            transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
  }

  .cube__top {
    -webkit-transform: rotateX(90deg) translateZ(50px);
            transform: rotateX(90deg) translateZ(50px);
  }

  .cube__top::before {
    -webkit-transform: translateZ(-150px);
            transform: translateZ(-150px);
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 120px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
            box-shadow: 0 0 120px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
  }

  .hero__inner a span {
    font-size: calc(18px + 13.6 * (100vw - 320px) / 1340);
  }

  .hero__title {
    font-size: calc(28px + 40.8 * (100vw - 320px) / 1340);
  }

  .header-hero__home-button {
    margin-left: 50px;
    width: 40px;
    height: 40px;
  }

  .middle-hero__library-link {
    text-shadow: #fefefe 0px 0px 4px;
  }

  .hero__info {
    border-right-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-left-color: initial;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), color-stop(50%, #ffffff)) 0px 0px/2px 100% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), color-stop(50%, #ffffff)) 100% 0px;
    background: -o-linear-gradient(#000000 50%, #ffffff 50%) 0px 0px/2px 100% no-repeat, -o-linear-gradient(#000000 50%, #ffffff 50%) 100% 0px;
    background: linear-gradient(#000000 50%, #ffffff 50%) 0px 0px/2px 100% no-repeat, linear-gradient(#000000 50%, #ffffff 50%) 100% 0px;
    border-style: solid none;
    -o-border-image: initial;
       border-image: initial;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #000000;
    background-position: 0px 0px, 100% 0px;
    background-repeat: no-repeat;
    -webkit-transition: background 0.5s ease 0s, width 1s ease 0.5s, border-top 0.5s ease 0s, width 1s ease 0.5s, border-bottom 0.5s ease 0s, width 1s ease 0.5s;
    -o-transition: background 0.5s ease 0s, width 1s ease 0.5s, border-top 0.5s ease 0s, width 1s ease 0.5s, border-bottom 0.5s ease 0s, width 1s ease 0.5s;
    transition: background 0.5s ease 0s, width 1s ease 0.5s, border-top 0.5s ease 0s, width 1s ease 0.5s, border-bottom 0.5s ease 0s, width 1s ease 0.5s;
  }

  .info-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-hero__texts {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
  }

  .info-hero__texts p {
    font-size: calc(22px + 30.6 * (100vw - 320px) / 1340);
  }

  .info-hero__texts h2 {
    font-size: calc(18px + 20.4 * (100vw - 320px) / 1340);
  }

  .info-hero__texts h4 {
    font-size: calc(14px + 13.6 * (100vw - 320px) / 1340);
  }

  .info-hero__img {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
  }

  .info-hero__img img {
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .section__hero.right-cube .hero__bg {
    top: 0;
    right: 0;
    left: 0;
    height: 50vh;
    width: 100%;
  }

  .section__hero.right-cube .hero__info {
    -webkit-transition: all 0.3s ease 1s;
    -o-transition: all 0.3s ease 1s;
    transition: all 0.3s ease 1s;
  }

  .section__hero.right-cube .hero__inner .footer-hero__about-link span {
    color: #000000;
  }

  .section__hero.right-cube .hero__inner .middle-hero__portfolio-link span,
  .section__hero.right-cube .hero__inner .middle-hero__library-link span {
    color: #ffffff;
    text-shadow: black 0px 0px 4px;
  }

  .section__hero.right-cube .hero__inner .socials__link svg {
    fill: #000000;
  }

  .section__hero.right-cube .hero__inner .socials__link svg path {
    fill: #000000;
  }

  .section__hero.right-cube .hero__inner .socials__line {
    background-color: #000000;
  }

  .section__hero.right-cube .hero__inner .hero__title,
  .section__hero.right-cube .hero__inner .header-hero__contact-link span {
    color: #ffffff;
  }

  .contact-me__wrapper .contact-me {
    width: 90%;
    height: 90%;
  }

  .section__library .header-hero__contact-link {
    font-size: calc(18px + 13.6 * (100vw - 320px) / 1340);
  }

  .library__title {
    font-size: calc(32px + 85 * (100vw - 320px) / 1340);
  }

  .section__about .header-hero__contact-link {
    font-size: calc(18px + 13.6 * (100vw - 320px) / 1340);
  }

  .about__title {
    font-size: calc(34px + 170 * (100vw - 320px) / 1340);
  }

  .info-me__body {
    max-width: 90%;
    padding: 20px;
  }

  .info-me__text {
    font-size: calc(16px + 13.6 * (100vw - 320px) / 1340);
  }

  .section__skills .header-hero__contact-link {
    font-size: calc(18px + 13.6 * (100vw - 320px) / 1340);
  }

  .skills__title {
    font-size: calc(34px + 170 * (100vw - 320px) / 1340);
  }

  .section__portfolio .header-hero__contact-link {
    font-size: calc(18px + 13.6 * (100vw - 320px) / 1340);
  }

  .portfolio__title {
    font-size: calc(34px + 170 * (100vw - 320px) / 1340);
  }
}

@media (max-width: 767px) {
  .carousel__item {
    width: 60vw;
    height: 60vw;
  }

  .version {
    -webkit-transform: scale(0.6) rotate(45deg);
        -ms-transform: scale(0.6) rotate(45deg);
            transform: scale(0.6) rotate(45deg);
    right: -100px;
  }
}

@media (max-width: 720px) {
  .portfolio__carousel {
    height: 60vh;
  }

  .carousel__item-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .carousel__item-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .preloader__inner {
    width: 140px;
    height: 140px;
  }

  .header-hero__home svg {
    width: 25px;
    height: 25px;
  }

  .cube {
    width: 50px;
    height: 50px;
  }

  .cube div span {
    -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
            transform: rotateY(calc(90deg * var(--i))) translateZ(25px);
  }

  .cube__top {
    -webkit-transform: rotateX(90deg) translateZ(25px);
            transform: rotateX(90deg) translateZ(25px);
  }

  .cube__top::before {
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
            box-shadow: 0 0 70px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
  }

  .section__hero {
    padding: 10px;
  }

  .hero__inner {
    height: 97vh;
  }

  .header-hero__home-button {
    margin-left: 30px;
    width: 25px;
    height: 25px;
  }

  .middle-hero__portfolio {
    -webkit-transform: rotate(-90deg) translateY(-25px);
        -ms-transform: rotate(-90deg) translateY(-25px);
            transform: rotate(-90deg) translateY(-25px);
  }

  .middle-hero__library {
    -webkit-transform: rotate(-270deg) translateY(-25px);
        -ms-transform: rotate(-270deg) translateY(-25px);
            transform: rotate(-270deg) translateY(-25px);
  }

  .socials {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .socials__link {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
  }

  .socials__link svg {
    width: 25px;
    height: 25px;
  }

  .socials__line {
    margin-left: 12px;
  }

  .right-cube .logo-button {
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .right-cube .logo-button .cube {
    width: 30px;
    height: 30px;
  }

  .right-cube .logo-button .cube div span {
    -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(15px);
            transform: rotateY(calc(90deg * var(--i))) translateZ(15px);
  }

  .right-cube .logo-button .cube__top {
    -webkit-transform: rotateX(90deg) translateZ(15px);
            transform: rotateX(90deg) translateZ(15px);
  }

  .right-cube .logo-button .cube__top::before {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0 0 50px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
            box-shadow: 0 0 50px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
  }

  .contact-me__wrapper {
    padding-top: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .contact-me__title {
    font-size: 20px;
  }

  .form__label {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .form__input {
    font-size: 14px;
    padding: 5px;
  }

  .info-me__body {
    padding: 10px;
  }

  .portfolio__carousel {
    margin-top: 50px;
    height: 65vh;
  }

  .carousel__item {
    width: 70vw;
    height: 65vh;
  }

  .cube-portfolio__button {
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .cube-portfolio__button .cube-portfolio__wrapper {
    width: 30px;
    height: 30px;
  }

  .cube-portfolio__button .cube-portfolio__wrapper div span {
    -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(15px);
            transform: rotateY(calc(90deg * var(--i))) translateZ(15px);
  }

  .cube-portfolio__button .cube-portfolio__top {
    -webkit-transform: rotateX(90deg) translateZ(15px);
            transform: rotateX(90deg) translateZ(15px);
  }

  .cube-portfolio__button .cube-portfolio__top::before {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0 0 50px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
            box-shadow: 0 0 50px black, 0 0 200px rgba(231, 234, 17, 0.4), 0 0 300px rgba(231, 234, 17, 0.6), 0 0 400px rgba(231, 234, 17, 0.8);
  }
}

@media (max-height: 722px) and (orientation: landscape) {
  .section__hero {
    padding-top: 10px;
  }

  .socials__link svg {
    width: 25px;
    height: 25px;
  }

  .socials__line {
    height: 50px;
    margin-left: 12px;
  }

  .contact-me__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 20px;
  }

  .contact-me__wrapper .contact-me {
    width: 90%;
    height: 80%;
  }

  .info-me__body {
    max-width: 90%;
  }
}